rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /verificationLetters/{requestId}/{fileName} {
      allow read: if resource.metadata.userId == request.auth.uid || (request.auth.token.admin == true);
      allow write: if request.auth.token.admin == true; 
    }
  }
}
